body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cards-container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  /* background-color: red; */
}

.card-comp {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
  text-align: center;
}

.card-comp img {
  width: 100%;
  height: auto;
}

.card-comp h3 {
  margin: 10px 0;
  font-size: 18px;
}

.card-comp p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
